* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body {
    background: #080808;
    color: #fff;
}

#header {
    width: 100%;
    height: 100vh;
    background-image: url(./background.jpg);
    background-size: cover;
    background-position: center;
}
.container{
    padding: 10px 10%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    float: right;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 25px;
}
nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    position: relative;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
.header-text{
    margin-top: 30%;
    font-size: 30px;
}
.header-text h1{
    font-size: 60px;
    margin-top: 20px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.header-text h1 span{
    color:#ff004f;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.para{
    color: #ffa011;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

/* -------------------------about---------------------------- */
#about{
    padding: 80px 0;
    color: #ababab;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    margin-top: 50px;
    width: 100%;
}
.about-col-2{
    flex-basis: 60%;
}
.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links {
    margin-right: 50px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    color:rgb(231, 93, 8); 
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: rgb(231, 93, 8);
    position:absolute;
    left: 0;
    bottom: -8px;
    transform:scaleX(0);
    transition: 0.3s;
}
.tab-links.active-links::after{
    width: 50%;
}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
    color: rgb(35, 169, 222);
    font-size: 14px;
}
.tab-contents.active-tab{
    display: block;
}
.tab-titles:hover p {
    filter: blur(5px);
}
  
.tab-titles p:hover {
    filter: blur(0px);
}
.tab-links:hover::after {
    width: 100%;
}
.tab-links:hover{
    color:white; /* Change color on hover */
    transform: scale(1.2); /* Zoom effect on hover */
}
.tab-titles:hover .tab-links::after {
    left: 50%;
    transform: translateX(-50%) scaleX(1);
}
.tab-titles .tab-links::after {
    left: 50%;
    transform: translateX(-50%) scaleX(0);
}
.tab-titles .tab-links:hover {
    color: white; /* Change color on hover */
    transform: scale(1.2); /* Zoom effect on hover */
}
.tab-contents{
    display: none;
}

/* --------------------projects--------------------- */
#projects{
    padding: 30px 0;
}
.project-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.project-list div{
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}
.project-list div i{
    font-size: 35px;
    margin-bottom: 30px;
}
.project-list div h2{
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 15px;
}
.project-list div a{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
    transition: transform 0.3s; /* Apply a smooth transition for the transform property */
}
.project-list div a:hover{
    transform: scale(1.1); /* This scales the links to 110% when hovered */
}
.project-list div:hover{
    background: rgb(35, 169, 222);
    transform: translateY(-10px);
}
/* ----------------------------------contact---------------------------------- */
.contact-left{
    flex-basis: 35%; 
}
.contact-right{
    flex-basis: 60%; 
}
.contact-left p{
    margin-top: 30px;
}
.contact-left p i{
    color: rgb(35, 169, 222);
    margin-right: 15px;
    font-size: 25px;
}
.social-icons{
    margin-top: 30px;
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color:#605f5f;
    display: inline-block;
    transition: transform 0.5s;
}
.social-icons a:hover{
    color: rgb(35, 169, 222);
    transform: translateY(-5px);
}
.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(35, 169, 222);
    color: #fff;
    border: none;
    text-decoration: none;
    font-size: 18px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    cursor: pointer;
}
.btn:hover {
    background-color: white;
    color: rgb(35, 169, 222);
}
.btn:active {
    transform: scale(0.95);
}
.btn.btn2{
    display: inline-block;
    margin-top: 30px;
    border-radius: 6px;
}
form button .btn{
    border-radius: 6px;
}
.content-right form{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px;
    color: white;
    font-size: 18px;
    border-radius: 6px;
}
form .btn.btn2 {
    padding: 7px 25px;
    margin-top: 8px;
    margin-left: 15px;
    margin-right: 0;
    cursor: pointer;
    font-size: 20px;
}
.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
}
.copyright span{
    font-weight: 300;
    color: rgb(231, 93, 8);
}
.copyright i{
    color: rgb(35, 169, 222);
}
/* -----------------------------CSS for small screen------------------------------- */
nav .fas{
    display: none;
}
@media only screen and (max-width : 600px) {
    #header{
        background-image: url(./phone-background.jpg);
    }
    .header-text{
        margin-top: 100%;
        font-size: 16px;
    }
    .header-text h1{
        font-size: 30px;
    }
    nav .fas{
        display: block;
        font-size: 25px;
    }
    nav ul{
        background: rgb(35, 169, 222);
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .fas{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    .sub-title{
        font-size: 40px;
    }
    .about-col-1, .about-col-2{
        flex-basis: 100%;
    }
    .about-col-1{
        margin-bottom: 30px;
    }
    .about-col-2{
        font-size: 14px;
    }
    .tab-links{
        font-size: 16px;
        margin-right: 20px;
    }
    .contact-left, .contact-right{
        flex-basis: 100%;
    }
    .copyright{
        font-size: 14px;
    }
}
.gototop{
    position: fixed;
    width: 27px;
    height: 27px;
    background: rgb(231, 93, 8);
    bottom: 20px;
    right: 20px;
    text-decoration: none;
    text-align: center;
    line-height: 30px;
    color: white;
    font-size: 15px;
    border-radius: 50%;
    box-shadow: 0 0 6px 4px white;

}



